<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFTArchivist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFTArchivist.Properties.Settings>
            <setting name="FFTIVCRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModName" serializeAs="String">
                <value />
            </setting>
            <setting name="ReloadedIIModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModId" serializeAs="String">
                <value />
            </setting>
            <setting name="ModAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="ModVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ModDescription" serializeAs="String">
                <value />
            </setting>
        </FFTArchivist.Properties.Settings>
    </userSettings>
</configuration>